.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sidebar{
  height:150vh;
 background-color: whitesmoke;
 width: 220px;
 margin-top: -18px;
 border-right: 1px solid silver;
 margin-bottom: -20px;
 font-family: "centrale-sans-book";
   font-size: 18px;
   box-shadow: 5px 10px 6px #c7c7c7;
 }
 
 .SidebarList {
   height: auto;
   padding:0px;
   width:100%;
 
 }
 
 .SidebarList .row{
   width:220px;
   height: 30px;
   list-style-type: none;
   margin: 0%;
   padding: 3%;
   display:flex;
   flex-direction: row;
   color:black;
   justify-content: center;
   
   
 }
 .SidebarList #active{
   background-color:#bfe2eb;
 }